.main-layout {
  display: block;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .main-layout {
    padding: 0 58px;
  }
}

@media (min-width: 1024px) {
  .main-layout {
    margin: 0 auto;
    padding: 0;
    width: 904px;
  }
}

@media (min-width: 1400px) {
  .main-layout {
    width: 1156px;
  }
}
