<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bookmarks</title>
  </head>
  <body>
    <header class="header">
      <div class="main-layout">
        <div class="header__inner">
          <h1 class="header__title">Bookmarks</h1>
        </div>
      </div>
    </header>
    <main>
      <section class="section section--create">
        <div class="main-layout">
          <div class="create">
            <form class="create-form" id="createForm">
              <div class="create-form__group">
                <label class="create-form__label" for="bookmarkURL"
                  >Bookmark link</label
                >
                <input
                  required
                  name="bookmarkURL"
                  class="create-form__input"
                  id="bookmarkURL"
                  type="url"
                  placeholder="http://www.example.com"
                />
              </div>
              <div class="create-form__group">
                <label class="create-form__label" for="bookmarkName"
                  >Bookmark name</label
                >
                <input
                  required
                  name="bookmarkName"
                  class="create-form__input"
                  id="bookmarkName"
                  type="text"
                  placeholder="example"
                />
              </div>
              <button type="submit" id="createFormSubmit">Create</button>
            </form>
          </div>
        </div>
      </section>
      <section class="section section--overview">
        <div class="main-layout">
          <div class="overview">
            <ul class="bookmark-list" id="bookmarkList">
              <template id="bookmarkTemplate">
                <li class="bookmark">
                  <div class="bookmark__manage">
                    <a class="bookmark__link" target="_blank"></a>
                    <div class="bookmark__ctas">
                      <button class="bookmark__edit">
                        Edit
                      </button>
                      <button class="bookmark__delete">
                        Delete
                      </button>
                    </div>
                  </div>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
